* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #6867ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container {
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    width: 85vh;
    height: 85vh;
    margin-top: 7.5vh;
}

.row {
    display: flex;
}

.row, .square {
    flex: 1;
}

button {
    padding: 10px 20px;
    font-size: 1.25em;
}